#1.What are the two values of the Boolean data type? How do you write them?
True
False

In [1]:
a=True
b=False
print(type(a),type(b))

<class 'bool'> <class 'bool'>

#2. What are the three different types of Boolean operators?
and,or,not,in

#3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

![Cape.PNG]()

True is 1 and False is 0
Truth Table for AND
A B output
0 0 0
0 1 0
1 0 0
1 1 1
Truth Table for OR
A B output
0 0 0
0 1 1
1 0 1
1 1 1
Truth Table for NOT
A output
0 1
1 0

#4. What are the values of the following expressions?
(5 > 4) and (3 == 5) #False
not (5 > 4) #False
(5 > 4) or (3 == 5)#True
not ((5 > 4) or (3 == 5))#False
(True and True) and (True == False)#False
(not False) or (not True)#True

#5. What are the six comparison operators?
# ==, !=, >,<,>=,<=

#6. How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

In [10]:
# Equal To Operator
if(8==11):
    print("True")
else:
    print("False")
#Assignment operator
a=10 #here we have used assignment operator(=) to assign value of a which is 10
print("a =",a)

False
a = 10

#7. Identify the three blocks in this code:

In [11]:
spam = 0
if spam == 10:
    print('eggs') #Block 1st
if spam > 5:
    print('bacon') #Block 2nd
else:
    print('ham') #Block 3rd
    print('spam')
    print('spam')

ham
spam
spam

#8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [12]:
spam = int(input("Input a no."))
if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

Input a no.10
Greetings!

#9.If your programme is stuck in an endless loop, what keys youâ€™ll press?
#press ctrl+c.

#10. How can you tell the difference between break and continue?

Break use to break the loop condition and and program has been end while run the break
Continue is use to continue loop statement but its skip value

In [15]:
for i in range(10):
    if(i==7):
        break
    print(i,end=' ')
    
print('Breaked')
#use of  continue
for i in range(10):
    if(i==7):
        continue
    print(i,end=' ')

0 1 2 3 4 5 6 Breaked
0 1 2 3 4 5 6 8 9

#11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Range(10) is a give end value means the range has create 0 to 9.
Range(0,10) is a give start value 0 and end value 10 so range create 0 to 9
range (0,10,1) is give start value 0,end value 10, and step 1 range create 0 to 9

In [19]:
for i in range(10):
    print(i,end=' ')
print()
for i in range(0,10):
    print(i,end=' ')
print()
for i in range(0,10,1):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

#12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [21]:

print("For Loop")
for i in range(1,11):
    print(i,end=' ')
print()
print("While Loop")
a =1
while a <= 10:
    print(a,end=' ')
    a+=1

For Loop
1 2 3 4 5 6 7 8 9 10
While Loop
1 2 3 4 5 6 7 8 9 10

#13. If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

In [26]:
def bacon():
  named=spam
  print(named)

bacon()

10