#1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
"hello"
-87.8
-
/
+
6

In [ ]:
#  * is a mathematical operator use by multiplication
# "hello" is a string 
# -87.8 is a expression is denoted float value
# - is mathematical opertor use by substraction
# / is a divisiable mathematical opertor
# + is a addition mathematical opertor
# 6 is a integer value

#2. What is the difference between string and variable?
String is a indecated as symbol like "",'',''' ''',""" """ any words or sentence write in these symbol is say string value
variable is assing the value like n='iNueron'
n is variable and iNueron is string value

#3. Describe three different data types.

In [1]:
name="iNueron" #String
Number=25      # Interger
number=3.5     # Float
print(type(name),type(Number),type(number))

<class 'str'> <class 'int'> <class 'float'>

#4. What is an expression made up of? What do all expressions do?
An expression is a combination of operators and operands that is interpreted to produce some other value. In any programming language, an expression is evaluated as per the precedence of its operators
its a use variable,condition statement,loop,function,class.

#5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
Expression always evaluates to a value and Statement does something, like creating a variable or displaying a value, it only does whatever the statement says.

#6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
bacon variable contain 23

In [2]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?
'spam'+'spamspam'# Values of this eqution is concatenation like'spamspamspam'
'spam'*3  # Values of this eqution is 'spamspamspam'

In [8]:
'spam'+'spamspam'
'spam'*3

'spamspamspam'

#8.Why is eggs a valid variable name while 100 is invalid?
Because vairable is start alaphabet and also combination of alaphabet and number but not start as a number thats why 100 is not valid variable.

#9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
int(),float(),str()
number=25 #int value
Number=3.5#floating-point number
name="iNueron" # String value

#10. Why does this expression cause an error? How can you fix it?
'I have eaten'+99+'burritos.'
Because str value not concatenation with int value thats why TypeError is coming.
you want to fix it so,int use as a str value like '99'

In [13]:
'I have eaten'+'99'+'burritos.'

'I have eaten99burritos.'